/*
******
Reset
******
*/

* {
  font-family: 'PT+Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section:nth-of-type(even) {
  background-color: var(--bluebell);
}

button {
  background-color: unset;
  border: unset;
}

/*
******
Character
******
*/

:root {
  --blue: #0084fd;
  --cornflowerblue: #b5ddff;
  --bluebell: #9792e4;
  --goldentainoi: #fdc15f;
  --nightrider: #333333;
  --wedgewood: #5a6e7f;
}

/*
******
Debug
******
*/

.col {
  /* border-style: dashed; */
}

.btn {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: white;
}

/*
******
Common
******
*/

.container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1200px;
}

.flex {
  display: flex;
}

.element {
  width: calc((100% - 48px) / 3);
  align-self: stretch;
}

section:nth-of-type(even) {
  background-color: var(--bluebell);
}

/*
******
Body
******
*/

/*
******
Header
******
*/

header .container {
  align-items: center;
  justify-content: space-between;
  padding-top: 19px;
  padding-top: 19px;
}

header {
  background-color: var(--blue);
  padding-bottom: 20px;
}

header .container ul {
  color: white;
  gap: 34px;
  align-items: center;
}

header .container .col .bars {
  color: white;
  display: none;
  font-size: 1.25rem;
}

header .container .btn {
  font-size: 1rem;
}

/*
******
Main
******
*/

/* Sezione core-business */

.core-business .container {
  flex-wrap: wrap;
  padding: 50px 32px 104px;
  gap: 24px;
  /* border-style: dashed; */
}

.core-business .container .element {
  color: var(--wedgewood);
  background-color: var(--cornflowerblue);
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  padding: 32px 24px 30px;
}

.core-business .container .element:first-child {
  text-align: start;
  flex-grow: 1;
}

.core-business .container .element p {
  line-height: 2rem;
}

.core-business .container .element h2 {
  font-size: 24px;
  margin-bottom: 24px;
  color: var(--blue);
}

.core-business .container .element i {
  padding-bottom: 24px;
  font-size: 80px;
  color: var(--blue);
}

.core-business .container:first-child .element:first-child {
  text-align: start;
  padding-bottom: 0;
  width: calc(((100% - 48px) / 3) * 2 + 24px);
}

.core-business .container:first-child .element:first-child .col.sx {
  padding-bottom: 62px;
  padding-right: 28px;
}

.core-business .container:first-child .element:first-child .col.sx button {
  color: white;
  background-color: var(--blue);
  padding: 10px 50px;
  font-size: inherit;
  margin-top: 32px;
}

.core-business .container:first-child .element:first-child .col.sx button i {
  color: white;
  font-size: inherit;
  padding-bottom: 0;
  padding-right: 8px;
}

.core-business.container:first-child .element:first-child .col.dx {
  padding-right: 54px;
  align-items: flex-end;
}

/* Fine Sezione core-business */

/* Sezione Planning */

.planning .container {
  padding: 135px 165px 64px;
  gap: 4.375rem;
}

.planning .container .col.dx {
  text-align: center;
  margin-top: 180px;
  background-color: white;
}

.planning .container .col {
  width: 50%;
  flex-direction: column;
}

.planning .container .col.sx {
  align-items: flex-start;
  color: white;
}

.planning .container .col.sx p {
  line-height: 1.7rem;
  font-size: 1rem;
}

.planning .container .col.sx h2 {
  padding-bottom: 52px;
  font-size: 2.25rem;
}

.planning .container .col.sx img {
  padding-bottom: 135px;
}

.planning .container .col.dx {
  margin-top: 182px;
  padding: 32px 40px 25px;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 55px;
}

.planning .container .col.dx img {
  padding-bottom: 25px;
  width: 75%;
}

.planning .container .col.dx h4 {
  padding-bottom: 2px;
  font-size: 1.5rem;
}

.planning .container .col.dx p {
  font-size: 1.25rem;
  margin-top: 15px;
}

.planning .container .col.dx i {
  background-color: var(--bluebell);
  border-radius: 50%;
  font-size: 16px;
  margin-top: 23px;
  padding: 18px 20px;
}

/* Sezione Planning */

/*
******
Footer
******
*/

footer .credits p:first-child {
  /* border-style: dashed; */
}

footer {
  background-color: var(--nightrider);
  text-align: center;
}

footer .credits {
  color: white;
  text-align: center;
  margin: 0 auto;
  /* border-style: dashed; */
}

/*
******
Media Queries
******
*/

/* Tablet 768-992px */

@media screen and (max-width: 992px) {
  header .container .col .bars {
    display: block;
  }

  header .container ul {
    display: none;
  }

  .core-business .container .element {
    flex-direction: column;
  }

  .core-business .container:first-child .element:first-child .col.dx {
    width: 65%;
  }

  .core-business .container .element i {
    font-size: 70px;
  }

  /* Planning */

  .planning .container {
    padding: 135px 165px 64px;
  }

  .planning .container .col.dx {
    margin-top: 0;
  }

  /* Planning */
}

/* Mobile 0-768px */

@media screen and (max-width: 768px) {
  .core-business .container {
    padding-bottom: 82px;
    flex-direction: column;
  }

  .core-business .container .element,
  .core-business .container:first-child .element:first-child {
    width: 100%;
  }

  .core-business .container .element,
  .core-business .container:first-child .element:first-child .col.dx {
    width: 100%;
    padding-right: 0;
  }

  .core-business .container:first-child .element:first-child .col.sx button {
    font-size: 16px;
  }

  .core-business .container .element p {
    line-height: 24px;
    font-size: 14px;
  }

  /* Planning */

  .planning .container {
    gap: 40px;
    padding: 70px 32px 65px;
    flex-direction: column;
  }

  /* Planning */
}
