/*
******
Reset
******
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section:nth-of-type(even) {
  background-color: var(--bluebell);
}

/*
******
Character
******
*/

:root {
  --blue: #0084fd;
  --cornflowerblue: #b5ddff;
  --bluebell: #9792e4;
  --goldentainoi: #fdc15f;
  --nightrider: #333333;
  --wedgewood: #5a6e7f;
}

/*
******
Debug
******
*/

.col {
  border-style: dashed;
}

/*
******
Common
******
*/

.container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1200px;
}

.flex {
  display: flex;
}

.element {
  width: calc((100% - 48px) / 3);
  align-self: stretch;
}

section {
  background-color: var(--bluebell);
}

/*
******
Body
******
*/

/*
******
Header
******
*/

header .container {
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: var(--blue);
}

header .container ul {
  gap: 34px;
}

header .container .col .bars {
  color: white;
  display: none;
}

/*
******
Main
******
*/

/* Sezione core-business */

.core-business .container {
  flex-direction: column;
  padding: 50px 32px 104px;
  border-style: dashed;
}

.core-business .container .row,
.core-business .container {
  gap: 24px;
}

.core-business .container .row .element {
  color: var(--wedgewood);
  background-color: var(--cornflowerblue);
  text-align: center;
  font-weight: bold;
}

.core-business .container .row:first-child .element:first-child {
  text-align: start;
  flex-grow: 1;
}

/* Fine Sezione core-business */

/* Sezione Planning */

.planning .container {
  padding: 135px 165px 64px;
}

.planning .container .col.dx {
  text-align: center;
  margin-top: 180px;
  background-color: white;
}

.planning .container .col {
  width: 50%;
}

/* Sezione Planning */

/*
******
Footer
******
*/

footer .credits p:first-child {
  border-style: dashed;
}

footer {
  background-color: var(--nightrider);
  text-align: center;
}

footer .credits {
  color: white;
  text-align: center;
  border-style: dashed;
}

/*
******
Media Queries
******
*/

/* Tablet 768-992px */

@media screen and (max-width: 992px) {
  header .container .col .bars {
    display: block;
  }

  header .container ul {
    display: none;
  }

  .core-business .container .row .element {
    flex-direction: column;
  }

  /* Planning */

  .planning .container {
    padding: 135px 165px 64px;
  }

  .planning .container .col.dx {
    margin-top: 0;
  }

  /* Planning */
}

/* Mobile 0-768px */

@media screen and (max-width: 768px) {
  .core-business .container {
    padding-bottom: 82px;
  }

  .core-business .container .row {
    flex-direction: column;
  }

  .core-business .container .row .element {
    width: 100%;
  }

  /* Planning */

  .planning .container {
    gap: 40px;
    padding: 70px 32px 65px;
    flex-direction: column;
  }

  /* Planning */
}
